<h1>Listing jira_countdowns</h1>

<table>
  <tr>
    <th>Name</th>
    <th>JIRA Server</th>
    <th>Project</th>
    <th>Version</th>
    <th>Username</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%# Wrapping in Array() in case we only have a single result. DataMapper doesn't seem to treat single-row results as arrays. %>
<% Array(@jira_countdowns).each do |jira_countdown| %>
  <tr>
    <td><%= jira_countdown.name %></td>
    <td><%= jira_countdown.jira_server %></td>
    <td><%= jira_countdown.project %></td>
    <td><%= jira_countdown.version %></td>
    <td><%= jira_countdown.username %></td>
    <td><%= link_to 'Show', jira_countdown %></td>
    <td><%= link_to 'Edit', edit_jira_countdown_path(jira_countdown) %></td>
    <td><%= link_to 'Destroy', jira_countdown, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<br />

<%= link_to 'New Jira countdown', new_jira_countdown_path %>
