<h1>Listing vertical_spacers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Height</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vertical_spacers.each do |vertical_spacer| %>
  <tr>
    <td><%= vertical_spacer.name %></td>
    <td><%= vertical_spacer.height %></td>
    <td><%= link_to 'Show', vertical_spacer %></td>
    <td><%= link_to 'Edit', edit_vertical_spacer_path(vertical_spacer) %></td>
    <td><%= link_to 'Destroy', vertical_spacer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vertical spacer', new_vertical_spacer_path %>
