<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @vertical_spacer.name %>
</p>

<p>
  <b>Height:</b>
  <%= @vertical_spacer.height %>
</p>


<%= link_to 'Edit', edit_vertical_spacer_path(@vertical_spacer) %> |
<%= link_to 'Back', vertical_spacers_path %>
